.meal-style {
  text-align: left;

  max-width: 50rem;
  width: 90%;
  margin: auto;
  margin-top: 1.8rem;
  position: relative;
  background-color: white;
  color: rgb(62, 61, 61);
  border-radius: 14px;
  padding: 1.5rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.meal-item {
  margin-top: 2rem;
  border-top: 1px solid #544d4d;
  align-items: center;
}

/* .meal-item {
  display: flex;
  align-items: center;
} */

.meal-style p,
h4 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.meal-name {
  margin-top: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
  
}

.meal-price {
  font-weight: 800;
  letter-spacing: 1px;
  color: brown;
  
}

.meal-description {
  font-style: italic;
  letter-spacing: 1px;
}
