.meal-form {
  text-align: end;
  align-items: center;
  margin-top: -4rem;
}

.meal-form label {
  margin-right: 0.5rem;
  font-weight: 600;
}

.meal-form input {
  width: 3rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  font: inherit;
  padding-left: 0.5rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}
.meal-form button {
  background-color: brown;
  padding: 0.5rem;
  color: white;
  margin: 0 15px 10px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: #ccc;
}
