* {
  padding: 0;
  margin: 0;
}
.totalmeal-overlay {
  position :relative;
  top: 50%;
  left: 27%;
  width: 600px;
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: top 0.6s ease-in
}


#price {
  font-weight: 600;
  text-align: end;
  margin-top: -1.95rem;
  margin-bottom: 2rem;
}
.totalmeal-overlay button {
  padding: 0.5rem;
  color: white;
  background-color: brown;
  border-radius: 7px;
  border-color: aliceblue;
  margin-top: 0.5rem;
  width: 90px;
  height: 30px;
  align-items: end;
  position: end;
  margin-right: 0.5rem;
  flex: end;
}
.totalmeal-overlay p,
h4 {
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

#description{
  font-style: italic;
}

#name{
  font-weight: 900;
}