* {
  padding: 0;
  margin: 0;
}
.totalmeal-overlay {
  position :relative;
  top: 50%;
  left: 27%;
  width: 600px;
  padding: 2rem;
  border-radius: 0.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  transition: top 0.6s ease-in
}

#name{
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
}

#price{
  font-size: 18px;
  color: rgb(255, 2, 2);
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
}
.button-container {
  display: flex;
  margin-left: 29rem;
  margin-top: -3rem;
}

.button-container p{
  height: 1.75rem;
  width: 20px;
  padding: 0.15rem;
  color: rgb(232, 105, 105);
  background-color: white;
  border-radius: 3px;
}

#minus {
  margin-right: 1rem;
  padding: 0.40rem;
  background-color: rgb(215, 88, 88);
}

#plus {
  padding: 0.35rem;
  margin-left: 1rem;
  background-color: rgb(215, 88, 88);
}

#openClose{
  margin-right: 0.5rem;
  padding: 0.5rem;
  background-color:rgb(215, 88, 88);
  color: white;
  font-weight: 600;
  border-radius: 10px;
  margin-top: 1rem;
}

#mealQty{
  margin-bottom: 2rem;
}